.subcategory-item {
	display: inline-block;
	width: 95%;
	margin-left: 5%;
	margin-bottom: -3px;
	border: 1px solid black;
	border-radius: 3px;
}
.subcategory-item__left {
	float: left;
	padding: 3px;
}
.subcategory-item__right {
	float: right;
    padding: 3px;
    margin-right: 5px;
}
.subcategory-item__checkbox {
    position: relative;
    bottom: 4px;
}
.subcategory-item__text {
    position: relative;
    bottom: 7px;
    left: 5px;
}
.subcategory-item__editing,
.subcategory-item__delete,
.subcategory-item__add {
	width: 25px;
	height: 25px;
	border: 1px solid black;
	border-radius: 5px;
}
.subcategory-item__editing {
	margin-left: 10px;
}
.subcategory-item__delete {
	margin-right: 5px;
}
.subcategory-item__form {
	width: 100px;
    display: inline-block;
    position: relative;
    bottom: 7px;
    margin-left: 5px;
}
.subcategory-item__form_input {
	width: 100%;
}