.tasks-inputs {
    height: 80px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.tasks-inputs__done {
	position: relative;
    display: inline-block;
    top: 10px;
    margin-left: 10px;
}
.tasks-inputs__search {
	position: relative;
    display: inline-block;
    top: 8px;
    margin-left: 20px;
}
.tasks-inputs__title {
	position: relative;
    width: 40%;
    display: inline-block;
    top: 20px;
    margin-left: 25px;
}
.tasks-inputs__search_delete {
    position: absolute;
    top: -9px;
    right: -9px;
    border: 1px solid black;
    border-radius: 5px;
    transform: scale(0.4);
}
.tasks-inputs__search_delete:hover {
    cursor: pointer;
}