.tasks-inputs {
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.tasks-inputs__done {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-105%);
    margin-left: 10px;
}
.tasks-inputs__done input {
    position: relative;
    top: 2px;
    margin-right: 2px;
    transition: all 0.2s ease-out;
}
.tasks-inputs__search {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-85%);
}
.tasks-inputs__search input {
    transition: all 0.2s ease-out;
}
.tasks-inputs__title {
    position: relative;
    width: 40%;
    display: inline-block;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.tasks-inputs__search_delete {
    position: absolute;
    top: -9px;
    right: -9px;
    border: 1px solid black;
    border-radius: 5px;
    transform: scale(0.4);
}
.tasks-inputs__search_delete:hover {
    cursor: pointer;
}
.tasks-inputs__title input {
    transition: all 0.2s ease-out;
}
.tasks-inputs__title__tooltip {
    display: none;
    position: absolute;
    top: 34px;
    left: 40px;
}