.category-item {
	width: 100%;
	border: 1px solid black;
	border-radius: 3px;
	margin-bottom: 2px;
}
.category-item:after {
    content: '';
    clear: both;
    display: block;
}
.category-item__left {
	float: left;
    height: 100%;
    padding: 5px;
    padding: 5px 5px 0 5px;
    box-sizing: border-box;
}
.category-item__right {
	float: right;
    padding: 5px;
    height: 100%;
    margin-right: 5px;
    box-sizing: border-box;
}
.category-item__checkbox {
    position: relative;
    bottom: 4px;
}
.category-item__text {
    position: relative;
    bottom: 7px;
    left: 5px;
}
.category-item__editing,
.category-item__delete,
.category-item__add {
	width: 25px;
	height: 25px;
	border: 1px solid black;
	border-radius: 5px;
}
.category-item__editing {
	margin-left: 10px;
}
.category-item__delete {
	margin-right: 5px;
}
.category-item__form {
	width: 100px;
    display: inline-block;
    position: relative;
    bottom: 7px;
    margin-left: 5px;
}
.category-item__form_input {
	width: 100%;
}